@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.tracking-custom{
  letter-spacing: 0.2em;
}

*{
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

#header-content{
  z-index: 1;
  position: relative;
}

#nav-header{
  transform: translateY(0);
}

#header-content:hover + #nav-header{
  transform: translateY(-100%);
}